
@font-face {
    font-family: 'ultimapdacultralight';
    src: url('/fonts/ultimapdac-ultralight-webfont.woff2') format('woff2'),
         url('/fonts/ultimapdac-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#app {
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  /* font-family: "Ubuntu", sans-serif;*/
  font-family: "Segoe UI", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #efefef;
}
body {
  background: none !important;
}
html {
  /*background-image: linear-gradient(60deg, #172122 0%, #0c1013 100%);*/
  background: #16161a;
}
.no-border { border: none; }
.main-footer {
  margin-bottom: 3rem;
}
.app-title {
    font-family: 'ultimapdacultralight';
    font-size: 1.5rem;
}
.info-field {
  background-image: linear-gradient(to left, #ddd9de 0%, #c6c7cd 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;
}
.info-field.diff {
  background-image: linear-gradient(120deg, #ddd9de 70%, #fa7c56 100%);
  border: none;
}
.setting { display: inline-block }
.setting-item { min-width: 7.0rem; font-weight: lighter; }
.setting-field {
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.3);
}
/* Remove plastic bootstrap style */
.setting-card .card-header, .card-body, .card-footer {
  background: none; border: none;
}
@keyframes backgroundColorPalette {
  0% {
    background: #ecaaa8;
  }
  100% {
    background: white;
  }
}
.filter-warn {
  animation-name: backgroundColorPalette;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.server-list * td { vertical-align: baseline !important; }
.server-list { margin-bottom: 0; font-family: "Segoe UI", system-ui, sans-serif; }
